body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0px 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}
footer {
  text-align: right;


}
.tile-image {
  border-radius: 25px;
  width: 100%;
  height: auto;
  margin-right: 0;
  float: left;
  
}
.card {
  width: 250px;
  width: 45%;
  margin-bottom: 20px;
}
.right {
  float: right;
}
.left {
  float: left;
}
.creative {
  color: rgb(121, 16, 207);
}
@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 0px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}
